.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;

  &:hover .visualization {
    display: flex;
  }

  & > div {
    grid-area: 1/1;
  }

  .visualization {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: 1/1;
    display: none;

    &:before {
      width: 16px;
      height: 10px;
      content: '';
      display: inline-block;
      margin-right: 0.25rem;
      background: url('../../Assets/visualizacao.svg') no-repeat;
    }
  }

  &:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: span 2;
  }

  @media (max-width: 40rem) {
    &:nth-child(2) {
      grid-column: initial;
      grid-row: initial;
    }
  }
}
